@media screen and (min-width: 320px) {
  .list {
    list-style: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid #6a6666;
    border-radius: 8px;
    padding: 16px;
    width: 276px;
  }
  .listItem:hover {
    border: 1px solid #078cde;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .listItem {
    padding: 24px;
    width: 294px;
  }
}
